{% extends 'base.html.twig' %}

{% block title %}Mais qu'est-ce que tu fous ici ?{% endblock %}

{% block body %}

    <div class="container py-5 my-2 text-center">
        <img style="max-width: 860px;" src="{{ asset('images/acces-403.jpg') }}" alt="Accès interdit">
    </div>

{% endblock %}
