/* TEXTE */
.tinytext {
    font-size: 12px;
}

.tinytinytext {
    font-size: 10px;
    color: grey;
}


/* IMAGE */
.img-list {
    max-width:80px;
}

.img-show {
    max-height:180px;
}

.img-home {
    max-width: 280px;
}


/* ROW */
.row-show {
    height:480px;
}

.content-show {
    height: 240px;
}



/* BACKGROUND */
#home-bg {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/neversbg.jpg");
    /* Set a specific height */
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* Clip path for header background image */
    /*clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);*/
  }