{% extends 'base.html.twig' %}

{% block body %}
    <h1>Accès interdit
    </h1>

    <p>
        Vous n'avez pas le droit d'afficher la page demandée. <a href="{{ path('home') }}">Retourner sur la page d'accueil</a>.
    </p>
{% endblock %}