{% extends 'base.html.twig' %}

{% block body %}

<!-- Slider Area Start-->
<div class="slider-area ">
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center" data-background="images/hero/h1_hero.png">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-7 col-md-9 ">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay=".4s">Bienvenue sur<br> le Dashboard </h1>
                            <p data-animation="fadeInLeft" data-delay=".6s">  Le Dashboard est un tableau de bord conçu avec PHP et Symfony 5 dans le cadre de la formation Développeur web et web mobile dispensée par l'Access Code School de Nevers (58000). Il s'agit d'un travail d'apprentissage collaboratif entre 3 apprenants (Ali, Warren et Olivier).</p>
                            <!-- Hero-btn -->
                            <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                <a href="{{ path("contact") }}" class="btn hero-btn">Nous contacter</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                            <img src="images/hero/hero_right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center" data-background="images/hero/h1_hero.png">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-7 col-md-9 ">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay=".4s">Bienvenue sur<br> le Dashboard ACS2020</h1>
                            <p data-animation="fadeInLeft" data-delay=".6s"> Le Dashboard est un tableau de bord conçu avec PHP et Symfony 5 dans le cadre de la formation Développeur web et web mobile dispensée par l'Access Code School de Nevers (58000). Il s'agit d'un travail d'apprentissage collaboratif entre 3 apprenants (Ali, Warren et Olivier).</p>
                            <!-- Hero-btn -->
                            <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                <a href="{{ path("contact") }}" class="btn hero-btn">Nous contacter</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                            <img src="images/hero/hero_right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End-->
<!-- What We do start-->
<div class="what-we-do we-padding">
    <div class="container">
        <!-- Section-tittle -->
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="section-tittle text-center">
                    <h2>COMMENT CA MARCHE ?​</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-do text-center mb-30">
                    <div class="do-icon">
                        <span  class="flaticon-tasks"></span>
                    </div>
                    <div class="do-caption">
                        <h4>Vous devez être connecté pour voir la liste des articles</h4>
                        <p>Vous devez être connecté pour voir la liste des articles</p>
                    </div>
                    <div class="do-btn">
                        <a href="#"><i class="ti-arrow-right"></i> get started</a>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="single-do active text-center mb-30">
                    <div class="do-icon">
                        <span  class="flaticon-social-media-marketing"></span>
                    </div>
                    <div class="do-caption">
                        <h4> Vous pouvez créer un compte "User" pour avoir accès à la liste des articles</h4>
                        <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                    </div>
                    <div class="do-btn">
                        <a href="#"><i class="ti-arrow-right"></i> get started</a>
                    </div>
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="single-do text-center mb-30">
                    <div class="do-icon">
                        <span  class="flaticon-project"></span>
                    </div>
                    <div class="do-caption">
                        <h4>Vous devez avoir un rôle "Admin" afin d'avoir accès à toutes les fonctionnalités du dashboard d'administration</h4>
                        <p>Hunky dory barney fanny around up the duff no biggie loo cup of tea jolly good ruddy say arse!</p>
                    </div>
                    <div class="do-btn">
                        <a href="#"><i class="ti-arrow-right"></i> get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
